<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/modules/navBar.css">
    <link rel="stylesheet" href="../../css/modules/base.css">
</head>
<body>
    <div class="nav">
        <div class="navTop">
            <a href="#">
                <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/logo-s.svg" alt="">
            </a>
        </div>
        <div class="operation-box">
            <a class="service" href="#">&nbsp;</a>
            <a href="#" class="position">&nbsp;</a>
            <a class="nav-btn close" href="#">
                <span class="n1">&nbsp;</span> 
                <span class="n2">&nbsp;</span> 
                <span class="n3">&nbsp;</span> 
            </a> 
            <a class="food-menu" href="#">菜单</a>
        </div>
        <div class="navDown">
            <a href="#">
                <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/logo-s.svg" alt="">
            </a>
        </div>
    </div>
</body>
</html>