<div class="wrapper">
    <div class="nav-main">
        <div class="main-1">
            <h2><a href="#">寻找美食</a></h2>
            <ul>
                <li class="list1"><a href="#">吃招牌菜</a>
                    <div id="slide1"></div>
                </li>
                <li class="list1"><a href="#">看看菜单</a>
                    <div id="slide1"></div>
                </li>
                <li class="list1"><a href="#">西贝品质</a>
                    <div id="slide1"></div>
                </li>
                <li class="list1"><a href="#">美食故事</a>
                    <div id="slide1"></div>
                </li>
            </ul>

        </div>
        <div class="main-2">
            <h2><a href="#">联系互动</a></h2>
            <ul>
                <li class="list2"><a href="#">门店信息</a>
                    <div id="slide2"></div>
                </li>
                <li class="list2"><a href="#">加入我们</a>
                    <div id="slide2"></div>
                </li>
                <li class="list2"><a href="#">在线客服</a>
                    <div id="slide2"></div>
                </li>

            </ul>

        </div>
        <div class="main-3">
            <h2><a href="#">了解西贝</a></h2>
            <ul>
                <li class="list3"><a href="#">西贝活动</a>
                    <div id="slide3"></div>
                </li>
                <li class="list3"><a href="#">西贝新闻</a>
                    <div id="slide3"></div>
                </li>
                <li class="list3"><a href="#">西贝故事</a>
                    <div id="slide3"></div>
                </li>
                <li class="list3"><a href="#">西贝英雄</a>
                    <div id="slide3"></div>
                </li>
            </ul>

        </div>
    </div>
</div>