<!-- 侧边栏 -->
<aside class="rightNav">
    <div class="nav">
        <div class="navTop">
            <a href="../view/index.html">
                <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/logo-s.svg" alt="">
            </a>
        </div>
        <div class="operation-box">
            <a class="service" href="./menu.html">&nbsp;</a>
            <a href="./cart.html" class="position">&nbsp;</a>
            <a class="nav-btn" href="javascript:;">
                <span class="n1">&nbsp;</span> 
                <span class="n2">&nbsp;</span> 
                <span class="n3">&nbsp;</span> 
            </a> 
            <a class="food-menu" href="./menu.html">菜单</a>
        </div>
        <div class="navDown">
            <a href="../view/index.html">
                <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/logo-s.svg" alt="">
            </a>
        </div>
    </div>
</aside>
<!-- 菜单 -->
<div class="wrapper">
    <div class="nav-main">
        <div class="main-1">
            <h2><a href="./xibeipinzhi.html">寻找美食</a></h2>
            <ul>
                <li class="list1"><a href="./xibeipinzhi.html">吃招牌菜</a>
                    <div id="slide1"></div>
                </li>
                <li class="list1"><a href="./menu.html">看看菜单</a>
                    <div id="slide1"></div>
                </li>
                <li class="list1"><a href="./xibeipinzhi.html">西贝品质</a>
                    <div id="slide1"></div>
                </li>
                <li class="list1"><a href="./newsneirong.html">美食故事</a>
                    <div id="slide1"></div>
                </li>
            </ul>

        </div>
        <div class="main-2">
            <h2><a href="./jiaruxibei.html">联系互动</a></h2>
            <ul>
                <li class="list2"><a href="./xibeimendian.html">门店信息</a>
                    <div id="slide2"></div>
                </li>
                <li class="list2"><a href="./jiaruxibei.html">加入我们</a>
                    <div id="slide2"></div>
                </li>
                <li class="list2"><a href="./kefu.html">在线客服</a>
                    <div id="slide2"></div>
                </li>

            </ul>

        </div>
        <div class="main-3">
            <h2><a href="./xibei-about.html">了解西贝</a></h2>
            <ul>
                <li class="list3"><a href="./newsneirong.html">西贝活动</a>
                    <div id="slide3"></div>
                </li>
                <li class="list3"><a href="./newsneirong.html">西贝新闻</a>
                    <div id="slide3"></div>
                </li>
                <li class="list3"><a href="./xibeizeren.html">西贝故事</a>
                    <div id="slide3"></div>
                </li>
                <li class="list3"><a href="./newsneirong.html">西贝英雄</a>
                    <div id="slide3"></div>
                </li>
            </ul>

        </div>
    </div>
</div>