<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/modules/caidan.css">
</head>
<body>
    <div class="nav">
        <div class="navTop">
            <a href="#">
                <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/logo-s.svg" alt="">
            </a>
        </div>
        <div class="operation-box">
            <a class="service" href="#">&nbsp;</a>
            <a href="#" class="position">&nbsp;</a>
            <a class="nav-btn close" href="#">
                <span class="n1">&nbsp;</span> 
                <span class="n2">&nbsp;</span> 
                <span class="n3">&nbsp;</span> 
            </a> 
            <a class="food-menu" href="#">菜单</a>
        </div>
        <div class="navDown">
            <a href="#">
                <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/logo-s.svg" alt="">
            </a>
        </div>
    </div>



    

    <div class="nav-wrapper" style="display: flex;">
        <div class="nav-main">
            <div id="block-block-9" class="block block-block">
    
                <h2><a href="/food">寻找美食</a></h2>
    
                <ul>
                    <li><a href="/food?hash=zpc">吃招牌菜</a></li>
                    <li><a href="/menu">看看菜单</a></li>
                    <li><a href="/food?hash=xbpz">西贝品质</a></li>
                    <li><a href="/food-story">美食故事</a></li>
                </ul>
            </div>

            <div id="block-block-8" class="block block-block">
    
    
                <h2><a href="/contact">联系互动</a></h2>
    
                <ul>
                    <li><a href="/stores">门店信息</a></li>
                    <li><a href="/join-us">加入我们</a></li>
                    <li><a href="/online-service">在线客服</a></li>
                </ul>
            </div>
            <div id="block-block-7" class="block block-block">
    
    
                <h2><a href="/about">了解西贝</a></h2>
    
                <ul>
                    <li><a href="/events">西贝活动</a></li>
                    <li><a href="/news-center">西贝新闻</a></li>
                    <li><a href="/story">西贝故事</a></li>
                    <li><a href="/hero">西贝英雄</a></li>
                    <li><a href="/responsibility">西贝责任</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>