<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/modules/cart.css">
</head>
<body>
    <aside class="rightNav">
        <div class="nav">
            <div class="navTop">
                <a href="#">
                    <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/logo-s.svg" alt="">
                </a>
            </div>
            <div class="operation-box">
                <a class="service" href="#">&nbsp;</a>
                <a href="#" class="position">&nbsp;</a>
                <a class="nav-btn" href="#">
                    <span class="n1">&nbsp;</span> 
                    <span class="n2">&nbsp;</span> 
                    <span class="n3">&nbsp;</span> 
                </a> 
                <a class="food-menu" href="#">菜单</a>
            </div>
            <div class="navDown">
                <a href="#">
                    <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/logo-s.svg" alt="">
                </a>
            </div>
        </div>
    </aside>
    <section>
        <div class="banner" >
            <h1>西贝商城</h1>
            <p>闭着眼睛点，道道都好吃</p>
         </div>
    </section>
    <footer class="footer">
        <div class="all">
            <div class="footer-top">
                <div class="footer-logo">
                    <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/logo-footer.jpg" alt="">
                </div>
                <div class="footer-right">
                    <ul class="link-box">
                        <li>
                            <dl>
                                <dt><a href="#">寻找美食</a></dt>
                                <dd><a href="#">吃招牌菜</a></dd>
                                <dd><a href="#">看看菜单</a></dd>
                                <dd><a href="#">西贝品质</a></dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt><a href="/contact">联系互动</a></dt>
                                <dd><a href="/stores">门店信息</a></dd>
                                <dd><a href="/online-service">在线客服</a></dd>
                                <dd><a href="/join-us">加入我们</a></dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt><a href="/about">了解西贝</a></dt>
                                <dd><a href="/story">西贝故事</a></dd>
                                <dd><a href="/hero">西贝英雄</a></dd>
                                <dd><a href="/responsibility">西贝责任</a></dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>关注我们</dt>
                                <dd class="c2">
                                    <a href="#">西贝莜面村公众号</a>
                                    <a href="javascript:showQrcode(2)">西贝品味公众号</a>
                                    <a href="javascript:showQrcode(3)">愛心互助金公众号</a>
                                    <a href="javascript:showQrcode(4)">官方微博</a>
                                    <a href="javascript:showQrcode(5)">甄选商城</a>
                                    <a href="javascript:showQrcode(7)">西贝亲子公众号</a>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>联系我们</dt>
                                <dd class="has-icon"><span><img alt=""
                                            src="http://www.xibei.com.cn/sites/all/themes/xibei/images/icon-mail.svg"></span>
                                    邮件：<a href="mailto:xibei@xibei.com.cn">xibei@xibei.com.cn</a></dd>
                                <dd class="has-icon"><span><img alt=""
                                            src="http://www.xibei.com.cn/sites/all/themes/xibei/images/icon-address.svg"></span>
                                    地址：北京市丰台区六里桥北里10号</dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <p>
                    <span>版权所有: 北京西贝餐饮管理有限公司&nbsp;|&nbsp;ICP备案编号：：京ICP备18041195号-1</span>
                </p>
            </div>
    </footer>
    
</body>
</html>