<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/modules/detail.css">
    <link rel="stylesheet" href="../css/modules/qrcode.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/require.js" data-main="../js/detail.js"></script>
</head>
<body>
    
    <section>
        <div class="banner" >
            <h1>西贝商城</h1>
            <p>闭着眼睛点，道道都好吃</p>
         </div>

    </section> 
     @include('footer.html')
     @include('rightNav.html')
     <script src="../js/modules/footer.js"></script>
     <script src="../js/modules/rightNav.js"></script>

</body>
</html>