<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/modules/bootstrap.css">
    <link rel="stylesheet" href="../css/modules/style.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/banner.js"></script>
</head>

<body>
    <!-- 头部视频banner -->
    <div class="video-wrapper" id="box1">
        <video poster="http://www.xibei.com.cn/sites/all/themes/xibei/images/frontBg.jpg" loop="" muted=""
            autoplay="">
            <source src="http://www.xibei.com.cn/sites/all/themes/xibei/images/front.mp4" type="video/mp4">
        </video>
        <div class="front-mask hide"></div>
        <div class="front-logo">
            <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/logo.png" alt="西贝" title="西贝莜面村 创造喜悦人生">
        </div>
        <a href="javascript:;" class="scroll-wheel">
        </a>
    </div>
    <!-- </header> -->
    <!-- 网页内容部分 -->
    <aside class="rightNav">
        <div class="nav">
            <div class="navTop">
                <a href="#">
                    <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/logo-s.svg" alt="">
                </a>
            </div>
            <div class="operation-box">
                <a class="service" href="./cart.html">&nbsp;</a>
                <a href="#" class="position">&nbsp;</a>
                <a class="nav-btn" href="#">
                    <span class="n1">&nbsp;</span> 
                    <span class="n2">&nbsp;</span> 
                    <span class="n3">&nbsp;</span> 
                </a> 
                <a class="food-menu" href="#">菜单</a>
            </div>
            <div class="navDown">
                <a href="#">
                    <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/logo-s.svg" alt="">
                </a>
            </div>
        </div>
    </aside>
    <div class="allbox" id="box2">
        
        <section class="plate">
            <div class="panzi">
                <img src="" alt="">
                <img src="" alt="">
            </div>
            <div class="font-content">
                <h2>
                    吃西贝蒙古牛大骨<br>
                    汤鲜肉嫩，香气撩人
                </h2>
                <p>小火慢炖 贴骨肉就是香</p>
                <a class="more" href="#">
                    <span>了解更多</span>
                </a>
            </div>
        </section>
        <section class="news">
            <div class="front2">
                <div class="mediaBox le">
                    <div>
                        <a href="#">
                            <div class="meida-img current"></div>
                            <div class="meida-main">
                                <h2 class="ellipsis">西贝有机莜面节开幕 不仅是好吃</h2>
                                <p>
                                    <span class="time">
                                        <span class="date">2020.04.26</span>                                
                                    </span>
                                    西贝莜面村主食升级 有机莜面上市
                                </p>
                            </div>
                        </a>
                    </div>
                    <a href="#" class="more">
                        <span>全部新闻&nbsp; →</span>
                    </a>
                </div>
                <div class="mediaBox r">
                    <div>
                        <a href="#">
                            <div class="meida-img current2"></div>
                            <div class="meida-main">
                                <h2 class="ellipsis">西贝新款儿童餐全国上市 孩子补充营养正当时</h2>
                                <p>
                                    <span class="time">
                                    <span class="date">2020.09.29</span>
                                        
                                    </span>
                                    家有宝贝就吃西贝
                                </p>
                            </div>
                        </a>
                    </div>
                    <a href="#" class="more">
                        <span>全部活动&nbsp;→</span>
                    </a>
                </div>
        
            </div>
        </section>
        <section class="cate">
            <div class="bigbox">
                <div class="box0">
                    <div class="videoBox">
                        <video loop="" autoplay="" muted="" src="http://www.xibei.com.cn/sites/all/themes/xibei/images/sheep.mp4">&nbsp;</video>
                    </div>
                    <div class="cate-main">
                        <h2>草原羊里的明星羊 乌珠穆沁羊</h2>
                        
                        <p>吃青草，饮泉水，生长在自由的天堂，真正的草原牧羊</p>
                        <a class="more" href="http://www.xibei.com.cn/youxuan"><span>了解更多→</span></a></div>    
                </div>
                <div class="box1">
                    <div class="cate-main1">
                        <h2>最是难舍一口 黄馍馍</h2>
                        <p>杂粮细制，红豆缠绵，传承经典老配方，呈现别样新滋味</p>
                        <a class="more" href="/food-story/huangmomo"><span>了解更多→</span></a></div>
                    <div class="pic1"></div>
                </div>
                <div class="box2">
                    <div class="cate-main2">
                        <h2>亲子时光</h2>
                        
                        <p>用有限的时光，创造无限的快乐与美好的回忆</p>
                        <a class="more" href="/responsibility"><span>了解更多→</span></a></div>
                    <div class="pic2"></div>
        
                </div>
        
            </div>
        </section>
        <section class="footNav">
            <div class="card-group">
                <div class="card crad1">
                  <div class="image1">
                     <span class="one"></span>
                     <span class="two"></span>
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">加入我们</h3>
                    <p class="card-text"><small class="text-muted">欢迎您的光临与加入</small></p>
                    <p class="card-text">立即加入 →</p>
                  </div>
                </div>
                <div class="card">
                  <div class="image2">
                    
                 </div>
                  
                  <div class="card-body">
                    <h3 class="card-title">门店信息</h3>
                    <p class="card-text"><small class="text-muted">查看西贝足迹，开始美食之旅</small></p>
                    <p class="card-text">立即查看  →</p>
                  </div>
                </div>
                <div class="card">
                  <div class="image3">
                    
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">在线客服</h3>
                    <p class="card-text"><small class="text-muted">专业客服团队为您1对1答疑</small></p>
                    <p class="card-text">进一步了解 →</p>
                  </div>
                </div>
              </div>
        </section>
        <footer class="footer">
            <div class="all">
                <div class="footer-top">
                    <div class="footer-logo">
                        <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/logo-footer.jpg" alt="">
                    </div>
                    <div class="footer-right">
                        <ul class="link-box">
                            <li>
                                <dl>
                                    <dt><a href="#">寻找美食</a></dt>
                                    <dd><a href="#">吃招牌菜</a></dd>
                                    <dd><a href="#">看看菜单</a></dd>
                                    <dd><a href="#">西贝品质</a></dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt><a href="/contact">联系互动</a></dt>
                                    <dd><a href="/stores">门店信息</a></dd>
                                    <dd><a href="/online-service">在线客服</a></dd>
                                    <dd><a href="/join-us">加入我们</a></dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt><a href="/about">了解西贝</a></dt>
                                    <dd><a href="/story">西贝故事</a></dd>
                                    <dd><a href="/hero">西贝英雄</a></dd>
                                    <dd><a href="/responsibility">西贝责任</a></dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>关注我们</dt>
                                    <dd class="c2">
                                        <a href="javaScript:;">西贝莜面村公众号</a>
                                        <a href="javaScript:;">西贝品味公众号</a>
                                        <a href="javaScript:;">愛心互助金公众号</a>
                                        <a href="javaScript:;">官方微博</a>
                                        <a href="javaScript:;">甄选商城</a>
                                        <a href="javaScript:;">西贝亲子公众号</a>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt>联系我们</dt>
                                    <dd class="has-icon"><span><img alt=""
                                                src="http://www.xibei.com.cn/sites/all/themes/xibei/images/icon-mail.svg"></span>
                                        邮件：<a href="mailto:xibei@xibei.com.cn">xibei@xibei.com.cn</a></dd>
                                    <dd class="has-icon"><span><img alt=""
                                                src="http://www.xibei.com.cn/sites/all/themes/xibei/images/icon-address.svg"></span>
                                        地址：北京市丰台区六里桥北里10号</dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-bottom">
                    <p>
                        <span>版权所有: 北京西贝餐饮管理有限公司&nbsp;|&nbsp;ICP备案编号：：京ICP备18041195号-1</span>
                    </p>
                </div>
        </footer>
    </div>
    <script src="../js/遮罩层动态.js"></script>
</body>

</html>

