<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/modules/qrcode.css">
    <link rel="stylesheet" href="../css/modules/jiaruxibei.css">
    <script src="../js/jquery.js"></script>
</head>
<body>
  

<div class="allin">
    <!-- 头 -->
    <div class="banner">
        <h1>加入我们</h1>
        <p>用爱成就伙伴，成就团队</p>
    </div>
  <!-- 最难 -->
  <div class="join-page2">
    <h2>成长在西贝</h2>
    <p>以爱的能量环为依托，西贝爱员工，员工爱顾客，顾客爱西贝</p>


    <ul class="join-grow">


    <li class="j1">
        <div class="join-grow-item">
            <p>爱心互助</p>
        </div>
        <div class="zhennan">
            <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/join/bg_aixinhuzhu.jpg" alt="">
            <div class="banban">
                <h2>西贝愛心互助金 <img class="close"
                        src="http://www.xibei.com.cn/sites/all/themes/xibei/images/join/icon_close.png" no-repeat;> </h2>
                <p>2007年西贝建立愛心互助金，为西贝员工及直系亲属在遇到重大疾病、突发事件，或子女教育需要帮助时，提供及时、有效的帮助。截至2019年12月2日，受助人数为<span
                        class="red">669</span>人，受助金额<span class="red">14801862</span>元，其中借款<span
                        class="red">3410000</span>元；是全体西贝人共同经营的一项爱心工程。
                </p>
                <p><span class="bold">愛心互助金使用范围</span> <br>
                    ·西贝工龄6个月（含6个月）以上在职员工本人；<br>
                    ·西贝工龄6个月（含6个月）以上在职员工直系血亲，如：配偶、父母、子女、兄弟姐妹（未婚）</p>
                <p><span class="bold">愛心互助金用途</span><br>
                    ·发生重大伤病、灾难事故、子女教育，因家庭经济困难，所需费用超出家庭经济负担能力时，给予的捐款；<br>
                    ·因突发事件，急需资金周转时，给予的借款。</p>
                <p><span class="bold">愛心互助金活动项目</span><br>
                    ·为贝龄2年以上的伙伴及直系亲属购买大病保险；<br>
                    ·为满足条件的伙伴发放“子女教育基金”补贴；<br>
                    ·为符合条件的优秀伙伴组织带家人旅游活动。</p>
                <p><a href="http://www.xibei.com.cn/sites/default/files/aixin2019v2.mp4" class="haha"
                        target="_blank"><span>进一步了解</span></a></p>
            </div>
        </div>
    </li>





    <li class="j2">
        <div class="join-grow-item">
            <p>职业发展</p>
        </div>
        <div class="zhennan">
        <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/join/bg_zhiyefazhan.jpg" alt="">
        <div class="banban">
            <h2>职业发展
                <img class="close" src="http://www.xibei.com.cn/sites/all/themes/xibei/images/join/icon_close.png" no-repeat;>
            </h2>
            <p>你的梦想是什么？有没有想过如何实现自己的梦想？<br><span class="bold">“晋升”</span>——是通往梦想的唯一途径！</p>
            <p>在这里，我们给你平台，<br>给你机遇，<br>同时为你搭建起向上攀登的阶梯，<br>每一个职位的升级就是晋升的标志，<br>就是成功的明证，就是新梦想的开始！</p>
            <p class="bold">与其渴望关怀，不如一起精彩！期待在这个平台上留下你的汗水，实现自己的梦想！</p>

        </div>
    </li>




    <li class="j3">
        <div class="join-grow-item">
            <p>表彰团建</p>
        </div>
        <div class="zhennan">
            <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/join/bg_tuanjianbiaozhan.jpg" alt="">
            <div class="banban">
                <h2>表彰团建
                    <img class="close" src="http://www.xibei.com.cn/sites/all/themes/xibei/images/join/icon_close.png" no-repeat;>
                </h2>
                <p>我们每年评选“优秀员工”、“明星员工”，来鼓励在岗位上有着优异表现的伙伴。同时，还设有“工匠精神奖”这一终身荣誉称号，鼓励那些长年累月一直勤勤恳恳、踏踏实实做事，践行“热爱、坚持、精准、创新、专注”的伙伴们。</p>
                <p>
                  我们鼓励和员工建立长期的伙伴关系，每年5月29日（西贝成立日），入职6年、12年即可荣获“忠诚员工”及“功勋员工”称号，并获得表彰团建的机会。2018年度，共有300多位伙伴获得“忠诚员工”，近100位伙伴获得“功勋员工”。</p>
                <p>
                  西贝创始人兼董事长贾国龙说：“在未来十年，西贝至少要成就100条好汉。”所谓“好汉”，就是能影响、帮助并使1000名员工创造他们的喜悦人生的伙伴。无论是在总部，还是在分部、门店，每个人都有可能成为好汉。在2018年5月的西贝三十周年庆典上，西贝评出了3位“好汉”，分别获得每年100万津贴的奖励，且从父母到孙辈四代人的教育、医疗、旅游、保险费用全部由公司报销。通过树立标杆，更好地把“好汉精神-把爱传出去，把利分下去。不争第一，
                  我们干什么！”传承下去。</p>
            </div>





    </li>




    <li class="j4">
        <div class="join-grow-item">
            <p>沙漠基地</p>
        </div>
<div class="zhennan">
<img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/join/bg_shamojidi.jpg" alt="">
<div class="banban">
    <h2>沙漠基地
        <img class="close" src="http://www.xibei.com.cn/sites/all/themes/xibei/images/join/icon_close.png"
            no-repeat;>
    </h2>
    <p>近几年随着拓展培训在我国普及。培训+旅游已经成为人们生活当中不可缺少的一部份。西贝希望在娱乐和玩耍的同时能西贝家人们能学习生活经验、体验社会教育、形成正确的人际、情感和社会性价值观。</p>
    <p>因此，由西贝餐饮集团投资，在库布其沙漠腹地建设出集培训、会议、拓展训练、住宿等功能的大型沙漠训练基地。所有建筑采取南极长城站方式整体架空加观景平台、设计为环保式集装箱群落，充分使用电能太阳能等环保能源。</p>
    <p>致力于打造企业培训+主题沙漠活动的垂直平台，让更多的人体验到沙漠带给人们的喜悦和魅力。</p>
    <p><span class="bold">基地规模：</span>占地约12096平米，可容纳千人开展活动。<br>
        <span class="bold">基地位置：</span>基地位于鄂尔多斯市杭锦旗独贵塔拉镇南库布其沙漠腹地<br>
        <span class="bold">车辆配置：</span>庞巴迪、LC系列越野车<br>
        <span class="bold">服务团队： </span> 西贝餐饮团队、资深拓展师、专业领队、专业车手、执行团队<br>
        <span class="bold">基地配套设施：</span>基地配有餐厅、烧烤平台、露天舞台、会议室、户外天幕、移动帐篷营位等基础设施，并可提供各种徒步线路规划、沙漠越野冲沙、滑沙、各类主题活动策划等服务项目。
    </p>
            </div>
    </li>  




    <li class="j5">
        <div class="join-grow-item">
            <p>西贝大学</p>
        </div>

        <div class="zhennan">
            <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/join/bg_xibeidaxue.jpg" alt="">
            <div class="banban">
                <h2>西贝大学
                    <img class="close" src="http://www.xibei.com.cn/sites/all/themes/xibei/images/join/icon_close.png"
                        no-repeat;>
                </h2>
                <p>成⻓在⻄⻉：以爱的能量环为依托，⻄⻉爱员⼯，员⼯爱顾客，顾客爱⻄⻉。</p>
                <p>⻄⻉⼤学于2015年6⽉28⽇在上海成⽴，是⻄⻉餐饮集团的内部⼤学，是培养⻄⻉⼈才店摇篮！主要服务和培训企业内部员⼯，⼀切为了员⼯的成⻓和企业的成功。</p>
                <p>⻄⻉⼤学着⼒打造中国⼀流世界知名的企业内部学习平台，⻄⻉⼤学定位于企业战略变⾰的助推器、企业⽂化的播种机、⼈才选拔的过滤⽹、员⼯的梦⼯⼚、业务部⻔的战略伙伴，为员⼯提供专业、系统、实效的系列培训。</p>
                <p>⻄⻉⼤学的使命：整合公司资源，搭建⼀个学习成⻓的平台，传承⽣⽣不息的⻄⻉企业⽂化，⽀持⻄⻉发展和⼈才发展，创造喜悦⼈⽣！</p>
    </li>
    </ul>
</div>

<!-- 未来的职业 -->
<div class="badge-container"> 
    <div class="badge-wrapper">
        <div class="badge">

            <div class="info" >
                <p id="beforeSelect">一份有未来的职业</p>
            </div>

            <div class="info1" style="display: none;">
                    <h5>123</h5>
                    <p>123</p>
            </div>
        </div>

        <div class="form">
            <div class="form-item"><label for="username"><span class="fl">我叫</span></label><input type="text"
                    id="username" maxlength="8" placeholder="请输入您的姓名" class="fr"></div>
            <div class="form-item"><span class="fl">想做</span>
                <select id="work" class="fr" readonly value="最帅厨师长">
                    <option value="最帅厨师长">最帅厨师长</option>
                    <option value="最给力店长">最给力店长</option>
                    <option value="最快牛老板">最快牛老板</option>
                    <option value="品质生产线主管">品质生产线主管</option>
                    <option value="最精准工匠厨师">最精准工匠厨师</option>
                    <option value="最有心服务">最有心服务</option>
                    <option value="最体贴外卖">最体贴外卖</option>
                    <option value="最体贴服务">最体贴服务</option>
                  </select>
            </div>
            <button id="submit">制作我的工作牌</button>
        </div>
        <div class="diandian" style="display: none;">
            <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/join/QRcode.png" alt="">
            <p>hi！西贝的家人！</p>
            <p>扫码关注发现更多职位申请！</p>
        </div>
    </div>
</div> 


<!-- 点击事件 -->


<!-- 西贝之道 -->
<div class="join-page">
    <h2>⻄贝之道</h2>
   <div class="talk-section">
    <p>⻄贝是个正能量的组织，⻄贝文化是奋⽃者⽂化!⻄贝提倡⾃愿奋斗、喜悦奋斗。 ⻄贝需要有责任心、有梦想、有追求、有爱心、愿意以奋斗为⽣活⽅式、并且以此为乐的⼈。愿意做⼀名奋斗者的伙伴，请跟我一起走下去，我们共创未来的辉煌， 共享公司发展的成果!</p>
<p>&mdash;&mdash;贾国龙（西贝合伙人大会讲话）</p></div>
</div>


<!-- 轮播图 -->
<div class="box1">
<div class="box2" >
    
        <div class="box4"  >
        <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/join/renwu4.png" alt="" id='pic1'>
        <div class="box5">
            <h4>爱工作 爱生活 爱西贝</h4>
            <p>2000年一个偶然的机会，我加入了西贝，从此与西贝结下了不解之缘，精彩的西贝人生从此起航。19载漫漫时光，很多东西都已物是人非，不变的是西贝情。我感恩于自己，感恩于父母，感恩于伙伴，感恩于西贝，也希望如今作为西贝“老人”的我，也能成为西贝新生力量所感恩的人。</p>
            <p class="p1">周昕分部-总厨-白鹏飞</p>
        </div>
        </div>

        <div class="box4"  >
            <img src="http://www.xibei.com.cn//sites/all/themes/xibei/images/join/renwu1.png" alt="" id='pic2'>
            <div class="box5">
                <h4>爱工作 爱生活 爱西贝</h4>
                <p>2006进入西贝海鲜包头店，从一名传菜员、点菜员，到后来喜欢厨房氛围成为一名学徒到现在成为厨师长，西贝给了非常多的支持，和好的平台，感恩企业的培养，感恩西贝助我成长，感恩西贝助我成功，因为西贝，人生喜悦，因为西贝，改变我的人生价值观，感恩西贝。</p>
                <p class="p1">合肥万象城店厨师长-马志伟</p>
            </div>
            </div>
    
            <div class="box4"  >
                <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/join/renwu3.png"alt="" id='pic3'>
                <div class="box5">
                    <h4>爱工作 爱生活 爱西贝</h4>
                    <p>今年又一次来到熟悉又陌生的西贝大学，校园很文艺。我来西贝也有三个年头了，我学到了不只是菜品知识，更学到了怎么做人做事，主动去爱别人，会有更多的人爱你，我的生活品质因为西贝有所变化，所以我西贝，人生喜悦！谢谢老生，谢谢总部导师，更谢谢贾总给到我们这么好的平台。</p>
                    <p class="p1">上海古北1699店-生产线主管-苗川川</p>
                </div>
                </div>


                <div class="box4"  >
                    <img src="http://www.xibei.com.cn//sites/all/themes/xibei/images/join/renwu2.png" alt="" id='pic4'>
                    <div class="box5">
                        <h4>爱工作 爱生活 爱西贝</h4>
                        <p>来到西贝铁军沙漠基地已经“1”年了，在西贝铁军这个大家庭中我学到了很多，让我找到了人生目标，成为一名基地最优秀的教练 <br>不争第一，我们干什么！说到做到，做到最好。</p>
                        <p class="p1">运营部-拓展训练教练-师浩瑞</p>
                    </div>
                    </div>  
                    <li class="num">
                        <a href="#pic1">1</a>
                        <a href="#pic2">2</a>
                        <a href="#pic3">3</a>
                        <a href="#pic4">4</a>
                    
                    </li>             
</div> 
</div>



<!-- 加入西贝 -->
<div class="join-page2">
<h2>加入西贝</h2>
<p>加入西贝大家庭 成为西贝一份子</p>
<div class="clearfix apply">
    <div class="fl">
        <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/join/apply-1.jpg" alt="校园招聘">
        <p>校园招聘 | 让世界看到你的影响力</p>
        <a href="https://jinshuju.net/f/WPRuKL" target="_blank">申请实习</a>
    </div>
    <div class="fr">
        <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/join/apply-2.jpg" alt="社会招聘">
        <p>社会招聘 | 想改变自己来西贝吧！</p>
        <a href="https://jinshuju.net/f/hfkRSI" target="_blank">申请工作</a>
    </div>
</div>
</div>
</div>

 

<script>
    $('#submit').on('click',function(){
        $('.form').css("display","none")
        $('.diandian').css("display","block")
        $('.info1').css('display','block')
        $('.info').css('display','none')
        $('.info1').children().eq(0).html($('.fr').val())
        $('.info1').children().eq(1).html($('.fr option:selected').text())
    })
    $('.join-grow-item').eq(0).on('click',function(){
        $('.zhennan').eq(0).css('display','block')   
    })
    $('.join-grow-item').eq(1).on('click',function(){
        $('.zhennan').eq(1).css('display','block')   
    })
    $('.join-grow-item').eq(2).on('click',function(){
        $('.zhennan').eq(2).css('display','block')   
    })
    $('.join-grow-item').eq(3).on('click',function(){
        $('.zhennan').eq(3).css('display','block')   
    })
    $('.join-grow-item').eq(4).on('click',function(){
        $('.zhennan').eq(4).css('display','block')   
    })

    $('.close').on('click',function(){
        $('.zhennan').css('display','none')
    })

</script>


<!-- 脚 -->
@include('footer.html')    

    @include('rightNav.html')
    <script src="../js/modules/rightNav.js"></script>
    <script src="../js/modules/footer.js"></script>


</body>
</html>