<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/modules/kefu.css">
    <link rel="stylesheet" href="../css/modules/qrcode.css">
    <script src="../js/jquery.js"></script>

</head>
<body>
    @include('rightNav.html')

    <div class="banner" >
       <!-- <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/xibei-kefu.jpg"> -->
       <h1>在线客服</h1>
       <p>专业客服团队为您1对1答疑</p>
    </div>


    <div class="service-main">
    <h2 class="title">从心出发 为您创造超预期体验</h2>
    <p>如果您想咨询就餐或投诉建议 请在上午9:00-下午20:30间拨打400-8207-320或在线联系我们</p>
    <a class="chat" onclick="websdk.toggleSDkVisible()" href="javascript:;"><span>立即咨询</span></a>
    </div>


    </div>

    @include('footer.html')
    
    <script src="../js/modules/footer.js"></script>
    <script src="../js/modules/rightNav.js"></script>
  
</body>
</html>