<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/modules/menu.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/require.js" data-main="../js/menu.js"></script>
    <!-- <script src="../js/jquery.js"></script> -->
   
</head>
<body>
    <aside class="rightNav">
        <div class="nav">
            <div class="navTop">
                <a href="#">
                    <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/logo-s.svg" alt="">
                </a>
            </div>
            <div class="operation-box">
                <a class="service" href="#">&nbsp;</a>
                <a href="./realcart.html" class="position">&nbsp;</a>
                <a class="nav-btn" href="#">
                    <span class="n1">&nbsp;</span> 
                    <span class="n2">&nbsp;</span> 
                    <span class="n3">&nbsp;</span> 
                </a> 
                <a class="food-menu" href="#">菜单</a>
            </div>
            <div class="navDown">
                <a href="#">
                    <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/logo-s.svg" alt="">
                </a>
            </div>
        </div>

    </aside>
    <section>
        <div class="banner" >
            <h1>西贝商城</h1>
            <p>闭着眼睛点，道道都好吃</p>
         </div>
     @include('cart.html')
     
    </section> 
     @include('footer.html')
     <!-- <div class="detail-mask">
         <div class="food-detail">
            <dl>
                <dt class="photo"><img src="http://www.xibei.com.cn/sites/all/themes/xibei/food-story/10daocai/1.jpg" alt=""></dt>
                <dd>
                    <ul>
                        <li><h3>椒麻牛蹄筋</h3></li>
                        <li><button>a</button><button>b</button><button>c</button></li>
                        <li><p>￥58</p></li>
                        <li class="numberSelect"><span>数量</span><button>-</button><input type="text"><button>+</button></li>
                        <li class="add"><button>加入购物车</button><button>立即购买</button></li>
                    </ul>
                </dd>
            </dl>
         </div>
     </div> -->


     
     <script>
         var $flag=true;
         $('.position').on('click',function(){
            if($flag){
                $('#realcart').attr('class','show')
            }else{
                $('#realcart').attr('class','')
            }

            $flag=!$flag;

         })
     </script>
</body>
</html>