<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/modules/newsneirong.css">
    <link rel="stylesheet" href="../css/modules/qrcode.css">
    <script src="../js/jquery.js"></script>
</head>
<body>
    @include('rightNav.html')
 
    <div class="page-wrapper">
        <div class="min">
            <div class="head">
                <h2>西贝有机莜面节开幕 不仅是好吃</h2>
                <p>
                    <span>2020.04.26</span>
                </p>
            </div>
            <div class="news-main">
                <p><span>西贝莜面村一直秉承为顾客提供“闭着眼睛点，道道都好吃”的优质菜品。每道菜不仅甄选优质食材和使用传统工艺制作，同时将背后蕴藏的深厚文化底蕴传递给消费者。</span> </p>
                <p><span>4月，第一届西贝有机莜面节全国店面启动，由西贝有机莜面加工而成的各种特色美食将与公众见面，期望与广大美食爱好者见证西贝莜面村发展成果的同时，一起为推动中国健康美食行业的发展而共同努力。</span> </p>
                <p>
                    <img src="http://www.xibei.com.cn/sites/default/files/xi_bei_you_ji_diao_mian_jie_zhu_shi_jue__7.jpg" alt="">
                </p>
                <section>
                    <p><span>为了充分展现莜面的营养价值，西贝莜面村经过长时间的研发，在原有的基础上全新升级，2020年4月新一代西贝有机莜面换新上市。相较于以往的生产工艺，西贝有机莜面拥有更高的标准，更浓郁的香味和更筋道的口感，推出新菜品让消费者满足味蕾的同时，更能享受到莜面作为健康主食的新体验。</span> </p>
                    <p><span>本次推出的西贝有机莜面节，由西贝莜面村创始人贾国龙倾力推荐，倡导“主食吃莜面“的品牌健康理念。以有机莜面加工而成的油泼香椿莜面、五蔬有机莜面系列等经典美食将展现在公众面前。这些莜面从工艺、口感、营养价值方面都代表了当前国内莜面美食同类产品的更高水准，也是西贝莜面村一直致力于推动中国健康饮食而长期努力的成果展现。在此也诚邀广大美食爱好者参与节日，来尽情体验西贝莜面村精心打造的健康美食。</span> </p>
                </section>
                <ul>
                    <li class="l">
                        <a href="#" title="大爷没写">« 上一篇</a>
                    </li>
                    <li class="r">
                        <a href="#" title="就不写">下一篇 »</a>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
    @include('footer.html')
    <script src="../js/modules/footer.js"></script>
    <script src="../js/modules/rightNav.js"></script>

</body>
</html>