<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/modules/realcart.css">
    <script src="../js/require.js" data-main="../js/realcart.js"></script>
    <script src="../js/jquery.js"></script>
    
</head>
<body>
    <aside class="rightNav">
        <div class="nav">
            <div class="navTop">
                <a href="#">
                    <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/logo-s.svg" alt="">
                </a>
            </div>
            <div class="operation-box">
                <a class="service" href="#">&nbsp;</a>
                <a href="#" class="position">&nbsp;</a>
                <a class="nav-btn" href="#">
                    <span class="n1">&nbsp;</span> 
                    <span class="n2">&nbsp;</span> 
                    <span class="n3">&nbsp;</span> 
                </a> 
                <a class="food-menu" href="#">菜单</a>
            </div>
            <div class="navDown">
                <a href="#">
                    <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/logo-s.svg" alt="">
                </a>
            </div>
        </div>
    </aside>
    @include('navdialog.html')
    <div id="realcart">
        <div class="head">
            <div class="head-logo">
                <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/logo-s.svg" alt="">
            </div>
            <div class="head-title">
                <p>我的购物车</p>
            </div>
        </div>
        <main>
            <section class="cball">
                <ul>
                    <li><input type="checkbox" id="cart_list_cball">全选</li>
                    <li>商品</li>
                    <li>单价</li>
                    <li>数量</li>
                    <li>小计</li>
                    <li>操作</li>
                </ul>
            </section>
            <section class="cb">
                <div class="goodlist">
                   <ul class="cart_list">
                      <!--  <li>
                          <div><input type="checkbox" class="cart_list_cb"></div>
                       <div><img src="http://www.xibei.com.cn/sites/all/themes/xibei/food-story/10daocai/1.jpg" alt=""><p></p></div>
                       <div>￥59.00</div>
                       <div>
                           <button class="reduce">-</button>
                           <input class="number" type="text" value="1">
                           <button class="add">+</button>
                       </div>
                       <div>￥59.00</div>
                       <div>
                           <a href="javascript:;"  class="p-del">删除</a>
                       </div></li> -->
                   </ul> 
                </div>
            </section>
        </main>
        <footer class="foot">
            <div class="foot-box">
          <p></p> 

           <i></i> 
           <button>
               <b>立即结算</b>
           </button>
       </div>
        </footer>
    </div>


    @include('footer.html')
    <script src="../js/modules/navdialog.js"></script>
</body>
</html>