<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/modules/xibeipinzhi.css">     
    
    <script src="../js/jquery.js"></script>
     <script src="../js/xibeifudong.js"></script> 
</head>
<body>
    
<header>
    <h1>西贝美食</h1>
    <p>地地道道西北风味, 心心念念唯有西贝</p>
</header>
   
    <div class="meiyongdehezi">
        <h2>
            <span class="big">招牌美食</span>
            每一道，都值得你细细品味
        </h2>
        <ul class="food-zhaopai">
            <li class="food-show">
                <a href="javaScript:;">
                    <div class="tupianhezi">
                        <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/product/zhaopai-mogutang.png" alt="" class="tu1">
                        <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/product/zhaopai-mogutang-h.png" alt="" class="tu2">
                    </div>
                    <h3>蘑菇汤莜面鱼鱼</h3>
                    <h4>菌汤浓醇，莜面爽滑，多重搭配，老少皆宜</h4>                                   
                </a>
            </li>
            <li class="food-show">
                <a href="javaScript:;">
                    <div class="tupianhezi">
                        <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/product/zhaopai-xbmj.png" alt="" class="tu1">
                        <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/product/zhaopai-xbmj-h.png" alt="" class="tu2">
                    </div>
                    <h3>西贝面筋</h3>
                    <h4>酸辣鲜香，吃货必点</h4>               
                </a>
            </li>
            <li class="food-show">
                <a href="javaScript:;">
                    <div class="tupianhezi">
                        <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/product/zhaopai-hmlg.png" alt="" class="tu1">
                        <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/product/zhaopai-hmlg-h.png" alt="" class="tu2">
                    </div>
                    <h3>黄米凉糕</h3>
                    <h4>美味杂粮，口味丰富，推荐点它</h4>               
                </a>
            </li>
            <li class="food-show">
                <a href="javaScript:;">
                    <div class="tupianhezi">
                        <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/product/zhaopai-dabancai.png" alt="" class="tu1">
                        <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/product/zhaopai-dabancai-h.png" alt="" class="tu2">
                    </div>
                    <h3 class="zhaopai-name">果蔬大拌菜</h3>
                    <h4>色彩丰富，营养美味，新鲜爽口，荤食搭档</h4>               
                </a>
            </li> 
            <li class="food-show burangkan" >
                <a href="javaScript:;">
                    <div class="tupianhezi">
                        <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/product/zhaopai-dabancai.png" alt="" class="tu1">
                        <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/product/zhaopai-dabancai-h.png" alt="" class="tu2">
                    </div>
                    <h3 class="zhaopai-name">果蔬大拌菜</h3>
                    <h4>色彩丰富，营养美味，新鲜爽口，荤食搭档</h4>               
                </a>
            </li> 
            <li class="food-show burangkan">
                <a href="javaScript:;">
                    <div class="tupianhezi">
                        <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/product/zhaopai-dabancai.png" alt="" class="tu1">
                        <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/product/zhaopai-dabancai-h.png" alt="" class="tu2">
                    </div>
                    <h3 class="zhaopai-name">果蔬大拌菜</h3>
                    <h4>色彩丰富，营养美味，新鲜爽口，荤食搭档</h4>               
                </a>
            </li> 
            <li class="food-show burangkan">
                <a href="javaScript:;">
                    <div class="tupianhezi">
                        <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/product/zhaopai-dabancai.png" alt="" class="tu1">
                        <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/product/zhaopai-dabancai-h.png" alt="" class="tu2">
                    </div>
                    <h3 class="zhaopai-name">果蔬大拌菜</h3>
                    <h4>色彩丰富，营养美味，新鲜爽口，荤食搭档</h4>               
                </a>
            </li>  
            <li class="food-show burangkan">
                <a href="javaScript:;">
                    <div class="tupianhezi">
                        <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/product/zhaopai-dabancai.png" alt="" class="tu1">
                        <img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/product/zhaopai-dabancai-h.png" alt="" class="tu2">
                    </div>
                    <h3 class="zhaopai-name">果蔬大拌菜</h3>
                    <h4>色彩丰富，营养美味，新鲜爽口，荤食搭档</h4>               
                </a>
            </li>                        
        </ul>                
        <a href="javascript:;" class="red-btn dianji">查看全部 </a>
        <a href="javascript:;" class="red-btn dianji2">关闭 </a>
    
        
        
    </div>
    <div class="meiyongdehezi">
        <section class="fudongleft fudong">
        <div class="active">
            <h2 >优选食材</h2>
            <p style="margin-top: 20px;">优选西北各地新鲜食材，绿色、有机、无污染</p>
            <a href="javaScript:;">了解更多 &nbsp→</a>
        </div>     
    </section>
    
    <section class="fudongright fudong">
        <div class="active">
            <h2 >透明厨房</h2>
            <p>西贝厨房里的烹饪过程，是一场欢迎你随时观看的美食表演</p>
            <a href="javaScript:;">探索历程&nbsp→</a>
        </div>    
    </section>
     <script src="./西贝浮动.js"></script>   
     <section class="fudongleft fudongleft2">
        <div class="active">
            <h2 >贴心服务</h2>
            <p>优选西北各地新鲜食材，绿色、有机、无污染</p>
            <a href="javaScript:;">了解更多 &nbsp→</a>
        </div>    
    </section>


    </div>    
    <section class="fudongzhengt">
        <h2>更多美食等你享用</h2>
        <a href="javaScript:;" class="FDbtn">看菜单</a>
        <div class="waiwai"></div>

    </section>


    <section class="footer"></section>
    <section class="nav"></section>
    
    
    @include('footer.html')    

    @include('rightNav.html')
    <script src="../js/modules/rightNav.js"></script>
    <script src="../js/modules/footer.js"></script>
</body>
</html>