<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/modules/xibeimendian.css">
    <script src="../js/jquery.js"></script>
</head>
<body>    
    <div class="header">
        <p>截止到<span class="colorred"><b>&nbsp 2020年7月16日 &nbsp</b></span> <br>
        西贝莜面村在全国<span class="colorred"><b>&nbsp 25 &nbsp</b></span>个省<span class="colorred"><b>&nbsp 58 &nbsp</b></span>  个城市共有<span class="colorred"><b>&nbsp 379 &nbsp</b></span>  家门店。    </p>
    </div>
    <div class="newsmin">
        <div class="l news-min-left">
            <dl>
                <dt>
                    <div class="show">
                    </div>
                </dt>
                <dd>
                    <h2>看看菜单</h2>
                    <p>闭着眼睛点，道道都好吃</p>
                    <p><a href="./menu.html">了解菜单&nbsp→</a></p>
                </dd>
            </dl>
        </div>
        <div class="r news-min-right">
            <dl>
                <dt>
                    <div class="show">
                    </div>
                </dt>
                <dd>
                    <h2>吃招牌菜</h2>
                    <p>招牌美食每一道，都值得你细细品味</p>
                    <p><a href="./xibei-about.html">了解招牌&nbsp→</a></p>
                </dd>
            </dl>
        </div>
    </div>
    @include('footer.html')
    @include('rightNav.html')
    
    <script src="../js/modules/footer.js"></script>
    <script src="../js/modules/rightNav.js"></script>
</body>
</html>