<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/modules/qrcode.css">
    <link rel="stylesheet" href="../css/modules/xibei-about.css">
    <script src="../js/jquery.js"></script>
</head>

<body>
    <main>
        <section class="about">

        </section>
        <section class="history">
            <h2>喜悦历程</h2>
            <p>西贝餐饮集团，1988年创立于内蒙古临河
                <br>

                2018年遍布大江南北，并多次走进联合国
                <br>

                贾国龙先生和他的团队三十载砥砺前行，喜悦历程
            </p>
            <a href="#">
                <span>了解更多</span>
            </a>
        </section>
        <section class="result">
            <h2>卓越成果</h2>
            <p>西贝坚持优秀品质，呈现别样美味；平凡缔造奇迹，共创喜悦人生</p>
            <ul>
                <li>
                    <dt><img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/CIPRA.svg" alt=""></dt>
                    <dd>第15届中国最佳公共关系案例大赛<br>
                        企业社会责任类金奖</dd>
                </li>
                <li>
                    <dt><img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/CCFA.svg" alt=""></dt>
                    <dd>2019年CCFA中国连锁业员工最喜爱公司</dd>
                </li>
                <li>
                    <dt><img src="http://www.xibei.com.cn/sites/all/themes/xibei/images/brand10.jpg" alt=""></dt>
                    <dd>2018年度北京餐饮十大品牌</dd>
                </li>
            </ul>
            <a href="#">
                <span>了解更多</span>
            </a>
        </section>
        <section class="response">
            <h2>任重道远</h2>
            <p>肩负社会责任，西贝义不容辞； 为员工成立爱心互助基金，为未来创造更多西贝食肆</p>
            <a href="#">
                <span>了解更多</span>
            </a>
        </section>
        <section class="active">
            <div class="newspaper">
                <ul class="news">
                    <li class="newsmine">                        
                        <a href="#">
                            <div class="time">
                                <strong>4/26</strong>
                                <span class="years">2020</span>
                            </div>
                            <p>西贝有机莜面节开幕   不仅是好吃</p>
                            <span class="type">企业动态</span>
                    </a>
                    </li>
                    <li class="newsmine">                        
                        <a href="#">
                            <div class="time">
                                <strong>4/24</strong>
                                <span  class="years">2020</span>
                            </div>
                            <p>内蒙古西贝汇通牧业科技发展有限公司正蓝旗西贝专属牧场一期建设项目环境影响评价第二次信息公示</p>
                            <span class="type typee">企业公告</span>
                    </a>
                    </li>
                    <li class="newsmine newsminelast">
                        <a href="#">
                            <div class="time">
                                <strong>3/27</strong>
                                <span  class="years">2020</span>
                            </div>
                            <p>西贝的未来，因我而有何不同？</p>
                            <span class="type typeee">员工动态</span>
                    </a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- 蹄子 -->
        <!--  -->

    </main>
    @include('footer.html')    
@include('rightNav.html')
<script src="../js/modules/rightNav.js"></script>
<script src="../js/modules/footer.js"></script>
</body>

</html>