@import './rightNav.scss';
@import './footer.scss';
*{margin: 0;padding: 0;}
.banner {width: 100%;height: 500px;
    min-width: 1500px;
    background: url('http://www.xibei.com.cn/sites/all/themes/xibei/images/food-menu-banner@2x.jpg') no-repeat center;
    background-size: 100%,100%;
h1{
    font-weight: normal;
    font-family:'方正粗黑宋简体';
    font-size: 140px;
    letter-spacing: -20px;
    text-align: left;
    line-height: 140px;
    margin-bottom: 15px;
    padding-top: 150px;
    padding-left: 78px;
    color: #fff;

}
p{
    color: #fff;
    font-size: 30px;
    padding-left: 100px;
    text-align: left;
    font-family: PingFangSC-Regular, PingFangHK-Regular, SourceHanSansCN-Normal, "Source Han Sans CN", "Microsoft YaHei", 微软雅黑, "Microsoft YaHei UI", Helvetica, Tahoma, Arial, 宋体, sans-serif;
}
}
