$w:100%;
$h:100%;
$window:1000px;
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, legend, button, input, textarea, th, td, div{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{width: $w;
position: relative;}
#box1{overflow-y: visible;
  top: 0;transition: 1s all;position: fixed;width: 100%;height: 100%;
}
#box2{
  top: 100%;
  transition: 1s;
  position: fixed;
  width: 97%;
}

.video-wrapper{
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 11;
    .front-mask {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: url('http://www.xibei.com.cn/sites/all/themes/xibei/images/heart.png') no-repeat center center;
      background-size: cover;
      transition: transform 0.4s ease-out;
      z-index: 14;
    }
    .hide {
      transform: scale(4);
      transition-duration: 0.4s;
    }
    .show {
    transform: scale(1);
    }
    video{
      object-fit: fill;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
   }
   .front-logo img{
    display:block !important;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 180px;
    text-align: center;
    margin: -90px 0 0 -90px;
    z-index: 12;
    display: none;
  }
  .scroll-wheel {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -13.5px;
    bottom: 38px;
    width: 21px;
    height: 32px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    z-index: 9;
    transition: all 0.75s;
    box-shadow: 0 0 5px rgba(0,0,0,0.1), inset 0 0 5px rgba(0,0,0,0.1);
    
  }
.scroll-wheel::before {
  content: '';
  display: block;
  width: 1px;
  height: 4px;
  position: absolute;
  border-radius: 4px;
  top: 10px;
  left: 10px;
  // animation: scroll-wheel 1.75s ease-in-out infinite;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.scroll-wheel::after {
  content: '';
  display: block;
  width: 1px;
  height: 34px;
  position: absolute;
  background: #fff;
  left: 10px;
  top: 40px;
}

}

@import './rightNav.scss';
.allbox{
    .plate{
        width: 100%;
        height: 580px;
        overflow: hidden;
        position: relative;
        background: url('http://www.xibei.com.cn/sites/all/themes/xibei/images/bg.png') repeat center center;
        .panzi{
            width: 70%;
            background: url('http://www.xibei.com.cn/sites/all/themes/xibei/images/panzi-niudagu.png')no-repeat left center;
            height: 100%;
            background-size: auto 100%;
            float: left;
            position: relative;
        }
        .font-content{
            display: flex;
            justify-content: center;
            flex-direction: column;
            float: right;
            height: 100%;
            width: 30%;
            text-align: left;
            color: #fff;
            h2{
                line-height: 50px;
                font: {
                    size: 30px;
                    weight: normal
                }
                margin-bottom: 20px;
            }
            p{
                font-size: 18px;
                margin-bottom: 30px;
            }
            a.more{
                font-size: 14px;
                color: #fff;
                display: inline-block;
                span{
                    padding-right: 20px;
                    background: url('http://www.xibei.com.cn/sites/all/themes/xibei/images/arrow-more-white.svg') no-repeat right center;
                }
            }
        }
    }
    .news{
        width: 100%;
        height: 600px;
        a {
            text-decoration: none;
          }
          
          .le {
            float: left;
            border-right: 1px solid #ccc;
          }
          
          .r {
            float: right;
          }
          
          .front2 {
            width: 93%;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            overflow: hidden;
          }
          
          .front2 .mediaBox {
            width: 50%;
            padding: 50px;
            text-align: center;
          }
          
          .front2 .mediaBox div {
            width: 100%;
            height: 375px;
          }
          
          .front2 .mediaBox div a {
            width: 100%;
            height: 374px;
          }
          
          .front2 .mediaBox div a .current {
            height: 265px;
            background: url(http://www.xibei.com.cn/sites/default/files/cover/guan_wang_feng_mian_tu_.jpg);
            background-size: cover;
            background-position: center center;
          }
          
          .front2 .mediaBox div a .current2 {
            height: 265px;
            background: url("http://www.xibei.com.cn/sites/default/files/styles/event_cover/public/cover/guan_wang__0.jpg?itok=OmbhItnh");
            background-size: 100% 100%;
          }
          
          .front2 .mediaBox div a .meida-main {
            padding-top: 50px;
            font-size: 24px;
          }
          
          .front2 .mediaBox div a .meida-main h2 {
            color: #222;
          }
          
          .front2 .mediaBox div a .meida-main p {
            font-size: 14px;
            padding-top: 15px;
            color: #8d8d8d;
            line-height: 14px;
          }
          
          .front2 .mediaBox div a .meida-main p .time {
            line-height: 20px;
            font-size: 14px;
            color: #8d8d8d;
            margin-right: 15px;
            padding-right: 15px;
            display: inline-block;
            border-right: 1px solid #8d8d8d;
          }
          
          .front2 .mediaBox .more {
            color: #000;
            margin-top: 50px;
            font-size: 14px;
            display: block;
          }
    }
    .cate{
        height: 1000px;
        width: 100%;
        padding-bottom: 60px;
        padding-top: 60px;
    
        .bigbox{
            box-sizing: border-box;
            width:100%;
            height: 1000px;
            padding-top: 60px;
            padding-bottom: 60px;
            position: relative;
        }
        .videobox{
            width: 100%;
            height: 563.81px;
        }
        video {
            object-fit: contain;
            width: 100%;
        }
        .box0{
            height: 440px;
            position: relative;
            cursor: pointer; 
            
        }
        .box0:hover .cate-main{
            opacity: 1;
        } 
        .box1:hover .cate-main1{
            opacity: 1;
        } 
        .box2:hover .cate-main2{
            opacity: 1;
        } 
        .box1{
        width: 50%;
        height: 440px;
        position: absolute;
        left: 0;
        bottom: 60px;
        .pic1{
            background: url('http://www.xibei.com.cn/sites/default/files/cate2.jpg')center;
            background-size: cover;
            width: 100%;
            height: 100%;
        }
        }
        .box2{
        width: 50%;
        height: 440px;
        position: absolute;
        right: 0;
        bottom: 60px;
        .pic2{
            background: url('http://www.xibei.com.cn/sites/default/files/cate3.jpg')center;
            background-size: cover;
            width: 100%;
            height: 100%;
        }
        }
        .cate-main {
            overflow: hidden;
            width: 50%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 20px 0 100px;
            background: url('http://www.xibei.com.cn/sites/all/themes/xibei/images/bg.png') repeat;
            background-size: 182px;
            color: #fff;
            opacity: 0;
            transition: all 0.5s ease;
            h2 {
                font-size: 24px;
                line-height: 36px;
                height: 36px;
            }
            p {
                font-size: 16px;
                line-height: 60px;
                height: 60px;
                padding-bottom: 30px;
            }
            .more {
                color: #fff;
                font-size: 14px;
                line-height: 20px;
                height: 20px;
                display: inline-block;
                text-decoration: none;
                outline: none;
                
            }
            
        }
        .cate-main1 {
            overflow: hidden;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 20px 0 100px;
            background: url('http://www.xibei.com.cn/sites/all/themes/xibei/images/bg.png') repeat;
            background-size: 182px;
            color: #fff;
            opacity: 0;
            transition: all 0.5s ease;
            h2 {
                font-size: 24px;
                line-height: 36px;
                height: 36px;
            }
            p {
                font-size: 16px;
                line-height: 60px;
                height: 60px;
                padding-bottom: 30px;
            }
            .more {
                color: #fff;
                font-size: 14px;
                line-height: 20px;
                height: 20px;
                display: inline-block;
                text-decoration: none;
                outline: none;
                
            }
            
        }
        .cate-main2 {
            overflow: hidden;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 20px 0 100px;
            background: url('http://www.xibei.com.cn/sites/all/themes/xibei/images/bg.png') repeat;
            background-size: 182px;
            color: #fff;
            opacity: 0;
            transition: all 0.5s ease;
            h2 {
                font-size: 24px;
                line-height: 36px;
                height: 36px;
            }
            p {
                font-size: 16px;
                line-height: 60px;
                height: 60px;
                padding-bottom: 30px;
            }
            .more {
                color: #fff;
                font-size: 14px;
                line-height: 20px;
                height: 20px;
                display: inline-block;
                text-decoration: none;
                outline: none;
                
            }
            
        }
    }
    .footNav{
        height: 300px;
        width: 100%;
        .card-body{margin: 0 auto;}
            .card-body .card-title{text-align: center;}
            .card-body .card-text{text-align: center;}
            .card-body .card-text .text-muted{font-size: 20px;}
           .card .image1{width: 50px;
              height: 50px;
              border-radius: 100%;
              background: #E62511;
              overflow: hidden;
              position: relative;
              margin: 40px auto 40px;
            }
            .card .image1 span.one{
               display: block;
               width: 44px;
               height: 3px;
               background: #fff;
               overflow: hidden;
               border-radius: 50% 0 0 50%;
               position: absolute;
               top: 60%;
               right: 0;
               transform: rotate(30deg);
               transition: all 0.5s;
            }
            .card:hover .image1 span.one{
              top: 80%;
            }
            .card .image1 span.two{
               display: block;
               width: 44px;
               height: 3px;
               background: #fff;
               overflow: hidden;
               border-radius: 50% 0 0 50%;
               position: absolute;
               top: 60%;
               right: 0px;
               transform: rotate(60deg);
               transition: all 0.5s;
            }
            .card:hover .image1 span.two{
              top: 65%;
              transform: rotate(20deg);
            }
            .card .image2{
              width: 50px;
              height: 50px;
              border-radius: 100%;
              background: url('http://www.xibei.com.cn/sites/all/themes/xibei/images/shop.svg') no-repeat center #E62511;
              overflow: hidden;
              position: relative;
              margin: 40px auto 40px;
              transition: all .3s;
            }
            .card:hover .image2{
              transform: rotate(-90deg);
            }
            .card .image3{
              width: 50px;
              height: 50px;
              border-radius: 100%;
              background: url('http://www.xibei.com.cn/sites/all/themes/xibei/images/icon-zixun.svg') no-repeat center #E62511;
              overflow: hidden;
              position: relative;
              margin: 40px auto 40px;
              transition: all .3s;
            }
            .card:hover .image3{
              transform: rotate(-45deg);
            }
    }
    
    @import './footer.scss';
   
}
// 生成二维码页
.setting-well {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;  
  .button {
    position: absolute;
    top: 42px;
    right: 42px;
    width: 24px;
    height: 24px;
    cursor: pointer;  
    span {
      width: 100%;
      height: 1px;
      background: #fff;
      overflow: hidden;
      position: absolute;
    }
    .bt1 {
      top: 11px;
      transform: rotate(45deg);
    }
    .bt2 {
      top: 11px;
      opacity: 0;
    }
    .bt3 {
      top: 11px;
      transform: rotate(-45deg);
    }
  }
  .tu {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 314px;
    height: 370px;
    margin-left: -157px;
    margin-top: -185px;
    img{
      width: 314px;
      height: 314px;
    }
    p {
      font-size: 20px;
      color: #fff;
      margin-top: 20px;
      text-align: center;
      line-height: 20px;
    }
  }
}

// .hide{
//     top:100%;
//     position: fixed;
// }
// .hide1{
//     top:0;
//     position: fixed;
// }

.wrapper{
  display: none;
  width: 93%;
  height: 100%;
  position: fixed;
  z-index: 999;
  // opacity: 1;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0,.5);
  .nav-main{
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    h2{
            font-size: 40px;
            color: #FFFFFF;
            text-align: center;
            margin-bottom: 60px;
            a{
              color: #fff;
              transition: all 0.4s;
              text-decoration: none;
            }
    }
    ul{
       list-style: none;
        margin-left: 38px;
        #slide1,#slide2,#slide3{
          height: 1px;
          width: 0;
          background: #fff;
          transition: all .3s;
        }
        li{
          font-size: 18px;
          margin-bottom: 25px;
          position: relative;
          a{
            position: relative;
            color:#fff;
            display: inline-block;
            line-height: 24px;
            padding-bottom: 5px;
            text-decoration: none;
          }
          &:hover #slide1{
            height: 1px;
            width: 72px;
            background: #fff;
          }
          &:hover #slide2{
            height: 1px;
            width: 72px;
            background: #fff;
          }
          &:hover #slide3{
            height: 1px;
            width: 72px;
            background: #fff;
          }
        }
    }
  }
}